
.stat_item {
  display: inline-block;
  margin: 0;
  width: 330px;
  vertical-align: top;
}

.stat_badge {
  display: inline-block;
  background-color: #599022;
  border-radius: 300px;
  height: 220px;
  line-height: 300px;
  margin: 0;
  padding: 0;
  width: 220px;
}

.stat_icon {
  display: inline-block;
  background-image: url("/img/stat_badges.png");
  background-repeat: no-repeat;
  height: 96px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 96px;
}

.stat_icon.fetchcount {
  background-position: -96px 0;
}

.stat_icon.korpcount {
  background-position: -192px 0;
}

.stat_icon.fscount {
  background-position: -288px 0;
}

.stat_icon.fetchweight {
  background-position: 0 0;
}

.stat_text h4 {
  padding: 0;
  margin: 10px 0;
  font-size: 33px;
  font-family: "Alfa Slab One", serif;
  font-weight: normal;
}

.stat_text, .stat_text h4, .stat_text p {
  text-align: center;
  color: #4a3520;
}

.stat_text h4 {
  height: 40px;
}

.stat_text p {
  display: inline-block;
  height: 85px;
  margin: 0 40px;
}

table.stat_cities {
  border-collapse: inherit;
  width: 255px;
  border-spacing: 0 10px;
}

table.stat_cities {
  vertical-align: top;
}

table.stat_cities .city {
  overflow: hidden;
  line-height: 12px;
}

table.stat_cities td p {
  padding: 0;
  display: block;
  margin: 3px 0 0;
}

table.stat_cities td h4 {
  font-family: "Alfa Slab One", serif;
  margin: 0;
  padding: 0;
  display: block;
  font-size: 22px;
  line-height: 24px;
  font-weight: normal;
  color: #599022;
}

#stat_whole {
  text-align: center;
  padding-top: 20px;
}
